[submodule "doodlevox_vst/modules/JUCE"]
	path = doodlevox_vst/modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "doodlevox_vst/modules/cmake-includes"]
	path = doodlevox_vst/modules/cmake-includes
	url = https://github.com/sudara/cmake-includes.git
