[submodule "doodlevox_vst/Modules/JUCE"]
	path = doodlevox_vst/Modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "doodlevox_vst/Modules/cmake-includes"]
	path = doodlevox_vst/Modules/cmake-includes
	url = https://github.com/sudara/cmake-includes.git
